﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row" id="aperitifs-list">
    <!-- Filled by the javascript code -->
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>

@section Scripts {
    <script>
        // Ask data to the web service (AperitifsController)
        $.get("/api/aperitifs?range=0-5", function (data) {
            $("#aperitifs-list").empty();
            for (var aperitif of data) {
                let btnGetInvited = aperitif.isFull
                    ? `<a href="#" class="btn btn-primary disabled" role="button">Full</a>`
                    : `<a href="#" class="btn btn-primary" role="button">Get invited</a>`;

                $("#aperitifs-list").append($(`
                    <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/images/photos/${aperitif.image}" alt="${aperitif.title}">
                        <div class="caption">
                            <h3>${aperitif.title} <small>${aperitif.price} €</small></h3>
                            <p>Organised by <a href="#" data-link="/api/users/${aperitif.organiserId}">
                                ${aperitif.organiserName}
                            </a></p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </p>
                            <p>
                                ${btnGetInvited}
                                <a href="#" class="btn btn-default" role="button">More...</a>
                            </p>
                        </div>
                    </div>
                </div>`));
            }
            $('*[data-link]').hover(function () {
                var e = $(this);
                e.off('hover');
                $.get(e.data('link'), function (data) {
                    e.popover({
                        title: data.firstName + ' ' + data.lastName,
                        html: true,
                        content: `<img src='/images/photos/${data.picture}' width=100px><br>${data.location}`,
                        trigger: 'hover'
                    }).popover('show');
                });
            });
        });
    </script>
}
